<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Apartment List</title>
    <link rel="stylesheet" type="text/css" th:href="@{/styles.css}">
</head>
<body>
<div id="wrapper">
    <h1>Apartment List</h1>
    <table id="keywords">
        <thead>
        <tr>
            <th><span>ID</span></th>
            <th><span>Address</span></th>
            <th><span>Price</span></th>
            <th><span>Room</span></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="apartment : ${apartment}">
            <td class="lalign" th:text="${apartment.id}"></td>
            <td th:text="${apartment.address}"></td>
            <td th:text="${apartment.retalPrice}"></td>
            <td th:text="${apartment.numberOfRoom}"></td>
        </tr>
        </tbody>
    </table>

    <!-- Import -->
    <h1>Import Apartment</h1>
    <div class="button-container">
        <form class = "button-link" th:action="@{/api/apartment/upload}" method="POST" enctype="multipart/form-data">
            <div class="Import">
                <input type="file" name="file"/>
                <button type="submit" class="button-2" role="button" value="Upload">Upload</button>
            </div>
        </form>
    </div>

    <!-- Switch between HTML -->
    <!--
    <div class="button-container">
        <a href="http://localhost:8080/customer" class="button-link">
            <button class="button-3" role="button">Go to Customer Page</button>
        </a>
        <a href="http://localhost:8080/apartment" class="button-link">
            <button class="button-4" role="button">Go to Apartment Page</button>
        </a>
        <a href="http://localhost:8080/contract" class="button-link">
            <button class="button-4" role="button">Go to Apartment Page</button>
        </a>
        <a href="http://localhost:8080" class="button-link">
            <button class="button-5" role="button">Back to Main Page</button>
        </a>
    </div>
    -->

    <!-- Switch between HTML -->
    <div class="sidebar">
        <h2>UI Components</h2>
        <a href="http://localhost:8080/customer" class="sidebar-link">
            <button class="sidebar-button">Go to Customer Page</button>
        </a>
        <a href="http://localhost:8080/apartment" class="sidebar-link">
            <button class="sidebar-button">Go to Apartment Page</button>
        </a>
        <a href="http://localhost:8080/contract" class="sidebar-link">
            <button class="sidebar-button">Go to Contract Page</button>
        </a>
        <a href="http://localhost:8080" class="sidebar-link">
            <button class="sidebar-button">Back to Main Page</button>
        </a>
    </div>

</div>
</body>
</html>