<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Apartment List</title>
</head>
<style>
    table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
        text-align: center;
    }

    table.center {
        margin-left: auto;
        margin-right: auto;
    }

    .title {
        text-align: center;
        font-size: 50px;
    }
</style>
<body>
<h1 class="title">Apartment List</h1>
<table class="center" style="width:80%">
    <thead>
    <tr>
        <th>ID</th>
        <td>Address</td>
        <td>Rental Price</td>
        <td>Number of Room</td>
    </tr>
    </thead>
    <tbody>
    <tr th:each="apartment : ${apartment}">
        <td th:text="${apartment.id}"></td>
        <td th:text="${apartment.address}"></td>
        <td th:text="${apartment.retalPrice}"></td>
        <td th:text="${apartment.numberOfRoom}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>