<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" th:href="@{/styles.css}">
</head>

<body>
<div id="wrapper">
    <h1>Contract List</h1>
    <table id="keywords">
        <thead>
        <tr>
            <th><span>ID</span></th>
            <th><span>Customer ID</span></th>
            <th><span>Apartment ID</span></th>
            <th><span>Start Date</span></th>
            <th><span>End Date</span></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="contract : ${contract}">
            <td class="lalign" th:text="${contract.id}"></td>
            <td th:text="${contract.customerID.id}"></td>
            <td th:text="${contract.apartmentID.id}"></td>
            <td th:text="${contract.startDate}"></td>
            <td th:text="${contract.endDate}"></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>