<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Customer List</title>
    <link rel="stylesheet" type="text/css" th:href="@{/styles.css}">
</head>

<body>
<div id="wrapper">
    <h1>Customer List</h1>
    <table id="keywords">
        <thead>
        <tr>
            <th><span>ID</span></th>
            <th><span>First Name</span></th>
            <th><span>Last Name</span></th>
            <th><span>Address</span></th>
            <th><span>Age</span></th>
            <th><span>Status</span></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="customer : ${customer}">
            <td class="lalign" th:text="${customer.id}"></td>
            <td th:text="${customer.firstName}"></td>
            <td th:text="${customer.lastName}"></td>
            <td th:text="${customer.address}"></td>
            <td th:text="${customer.age}"></td>
            <td th:text="${customer.status}"></td>
        </tr>
        </tbody>
    </table>

    <!-- Import -->
    <h1>Import Customer</h1>
    <div class="button-container">
        <form class = "button-link" th:action="@{/api/customer/upload}"  method="POST" enctype="multipart/form-data">
            <div class="Import">
                <input type="file" name="file"/>
                <button type="submit" class="button-2" role="button" value="Upload">Upload</button>
            </div>
        </form>
    </div>


    <!-- Switch between HTML -->
    <div class="sidebar">
        <h2>UI Components</h2>
        <a href="http://localhost:8080/customer" class="sidebar-link">
            <button class="sidebar-button">Go to Customer Page</button>
        </a>
        <a href="http://localhost:8080/apartment" class="sidebar-link">
            <button class="sidebar-button">Go to Apartment Page</button>
        </a>
        <a href="http://localhost:8080/contract" class="sidebar-link">
            <button class="sidebar-button">Go to Contract Page</button>
        </a>
        <a href="http://localhost:8080" class="sidebar-link">
            <button class="sidebar-button">Back to Main Page</button>
        </a>
    </div>

</div>
</body>
</html>